apiVersion: v1
kind: Service
metadata:
  name: univ-soa
  labels:
    app: univ-soa
spec:
  type: NodePort
  selector:
    app: univ-soa
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http

